//Nav
.nav-bar{
    position: fixed;
    width: @max-width;
    .border(1px, blue);
    .fontFam(@roboto, 3rem);

   
    
}

//Header
.resume-header{
    width: @max-width;
    .border(1px, green);
    .fontFam(none, 3rem);
}