/*Nav Bar*/
.nav-bar{
    position: fixed;
    width: @max-width;
    padding: @nav-padding;
    .border(1px, blue);
    .fontFam(@roboto, 2rem);
    .flexBox(row-reverse, nowrap, space-between, center);

    .nav-links{
        width: @nav-links-width;
        padding:@nav-padding;
        .flexBox(row, wrap, space-evenly);

        a{
            margin: 0 2%;
            text-decoration: none;
        }
    }
}

//Header
.resume-header{
    width: @max-width;
    .border(1px, green);
    .fontFam(none, 3rem);
}