/*Nav Bar*/
.nav-bar{
    position: fixed;
    width: @max-width;
    padding: @nav-padding;
    background-color: @nav-background-color;
    .flexBox(row-reverse, nowrap, space-between, center);

    .nav-links{
        width: @nav-links-width;
        margin: 0 2%;
        .flexBox(row, wrap, space-between);

        a{
            .fontFam(@roboto, 2rem);
            padding: @nav-link-padding;
            text-decoration: none;
            color: #eee;
        }

        a:hover{
            color: @nav-link-hover;
        }
    }

    h2{
        margin: 0 1%;
        .fontFam(@roboto, 3rem);
        color: @nav-header-color;
    }
}

//Header
.resume-header{
    width: @max-width;
    .border(1px, green);
    .fontFam(none, 3rem);
}