// Size Dimensions
@max-width: 100%;
@nav-links-width: 30%;

//Padding
@nav-padding: 1% 0;
@nav-link-padding: 5% 0;


//Fonts
@defaultFont-size: 62.5%;

//Roboto Font family
@roboto: 'Roboto', sans-serif;

//Colors
@light-grey: rgba(248,248,248, 1);
@grey: rgba(232,232,232,1);
@black: rgba(0,0,0,1);
@white: rgba(255,255,255, 1);

//body background color
@bodyBg: @grey;
// Nav hover color
@nav-background-color: @Bundle-Up-2-rgba;
@nav-link-hover: @Bundle-Up-3-rgba;
@nav-header-color: @grey;
/* Color Theme Swatches in RGBA */
@Bundle-Up-1-rgba: rgba(4, 170, 226, 1);
@Bundle-Up-2-rgba: rgba(14, 59, 82, 1);
@Bundle-Up-3-rgba: rgba(204, 72, 72, 1);
@Bundle-Up-4-rgba: rgba(251, 96, 84, 1);
@Bundle-Up-5-rgba: rgba(216, 196, 172, 1);

